/* Tabs */
.yui3-skin-sam .yui3-tab {
    display: block;
    margin: 0;
}

.yui3-tab-content {
    display: block;
}

@media screen and (min-width: 760px) {
	/* Tabs */
	.yui3-tabview-list {
		float: left;
		width: 150px;
	}
	/* Content Panel */
	.yui3-tabview-panel {
		margin-left: 152px;
	}
	/* activity element */
	.yui3-tab-panel .content .section li.activity {
		clear: none;
	}
}